<div class="component-body">
  <div style="text-align: right; background: #e1e1e1; height: 60px;line-height: 3.5;">
    <select name="DataModel" id="DataModel" style="width: 150px;margin-right: 15px;height: 30px;">
      <option value="1" selected>Data Model 1</option>
    </select>
    <button style="width: 75px;margin-right: 15px;height: 30px;">Run</button>
  </div>
  <div style="display: flex; height: 300px;">
    <div style="flex: 1;">
      <img src="../assets/images/heatmap.png" style="width: 100%;" alt="" srcset="">
    </div>
    <div style="flex: 1;">
      <img src="../assets/images/linemap.png" style="width: 100%;" alt="" srcset="">
    </div>
    <div style="flex: 1;">
      <img src="../assets/images/grid.png" style="width: 100%;" alt="" srcset="">
    </div>
  </div>
  <div style="height: calc(100vh - 375px);overflow: auto; margin-top: 15px;">
    <div *ngFor="let d of data" style="padding: 15px;">
      <div style="height: 30px;line-height: 2.3;background: #e1e1e1;padding-left: 10px;">Number of Lines - {{d.numberOfLines}} - {{d.status}}</div>
      <div style="max-height: 65px;overflow: auto;padding: 10px;border: 1px solid #e1e1e1;">{{d.text}}</div>
    </div>
  </div>
</div>