.component-body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    word-spacing: 3px;
    line-height: 20px;
}
th {
    /* text-align: left; */
    font-weight: bold;
    border: 1px solid #e1e1e1;
    background: rgb(191 157 118 / 65%);
    vertical-align: middle;
    text-align: center;
}
td {
    text-align: left;
    /* font-weight: bold; */
    border: 1px solid #e1e1e1;
    vertical-align: middle;
    text-align: center;
}
table {
    height: calc(100% - 55px);
}
.model-accuracy {
    text-align: center;
    height: 55px;
    line-height: 3.5;
    font-size: 16px;
    font-weight: bold;
    background: rgb(191 157 118 / 85%);
}

.rotate {
    width: 30px;
    height: 30px;
    border-radius: 21px;
    left: 49vw;
    top: 49vh;
    position: fixed;
    border: 6px dashed #866e53;
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    from {
      transform: rotate(0deg); /* Start rotation from 0 degrees */
    }
    to {
      transform: rotate(360deg); /* End rotation at 360 degrees (one full circle) */
    }
  }